section.calculator-section {
  @include xy-grid;
  @include flex-align(center);
  background: $white;
  padding: rem-calc(60) 7px rem-calc(60);

  @include breakpoint (tablet) {
    padding: rem-calc(60px) rem-calc(50px);
  }

  h3, p {

    text-align: center;
    margin-bottom: rem-calc(36);
  }

  h3 {
    color: $dark-red;
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 300;
    padding: 0 15px;
    line-height: 36px;
    letter-spacing: -1px;
    span {
      font-weight: 600;
    }
    @include breakpoint (tablet) {
      width: 100%;
      min-width: 100%;
      font-size: 30px;
      line-height: 44px;
      letter-spacing: -1px;
    }

    @include breakpoint (large) {
      font-size: 36px;
    }
  }

  h3:last-of-type {
    margin-bottom: rem-calc(20px);
    padding: 0 10px;
    width: 100%;
    min-width: 100%;
  }

  h4 {
    text-align: center;
    color: $dark-red;
    font-size: 26px;
    margin: 0 13px;
    font-weight: 300;
    padding: 0 15px;
    line-height: 36px;
    letter-spacing: -1px;
    border-top: 2px solid $dark-gray;
    margin-bottom: 20px;
    padding-top: 20px;

  }

  p {
    @include xy-cell(12);
    color: $light-gray;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0;
    margin-bottom: 20px;
    margin: 0 10px;

    @include breakpoint (tablet) {
      padding: 0px;
    }
  }

  P:last-of-type {
    font-size: rem-calc(10);
    margin-bottom: 45px;
    max-width: 850px;
    @include breakpoint (tablet) {
      padding: 0 30px;
      font-size: rem-calc(14px);
    }
  }

  .calculator-wrapper {
    width: 100%;

    .calculator {
      display: block;
      max-width: 850px;
      margin: 0 auto;
      width: 100%;

      .user-input {
        background-color: #ECECEB;
        padding: 26px 23px;
        width: 100%;
        position: relative;

        figure {
          width: 50px;
          margin: 18px auto 15px;
          @include breakpoint (tablet) {
            width: 36px;
            position: absolute;
            z-index: 1;
            bottom: 0px;
            top: 35px;
            left: 70px;
          }
        }

        h4 {
          color: $light-gray;
          font-size: rem-calc(14px);
          font-weight: 600;
          text-align: center;
          margin-bottom: 26px;
          width: 100%;
        }

        .inputs {
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          @include xy-grid();
          position: relative;
          @include breakpoint (tablet) {
            background-color: #ECECEB;
          }

          p {
            margin-bottom: 20px;
            @include breakpoint (tablet) {
              @include xy-cell(shrink);
              position: absolute;
              z-index: 1;
              top: 65px;
              left: 130px;
              font-size: rem-calc(11px);
            }
          }

          .wallboards, .total-sqft {
            @include xy-cell(8);
            padding-left: 45px;

            position: relative;
            @include breakpoint (tablet) {
              @include xy-cell(11);

            }

            &:after {
              content: "SHOWER";
              display: inline-block;
              font-size: rem-calc(14px);
              font-weight: 300;
              color: $light-gray;
              position: absolute;
              right: -80px;
              bottom: 33px;
              @include breakpoint (tablet) {
                right: 44px;
              }
            }

            label {
              color: $dark-gray;
              font-size: 14px;
              font-weight: 500;
              position: absolute;
              top: 0px;
              left: 10px;
              z-index: 3;

              @include breakpoint(tablet) {
                top: 18px;
                left: 10px;
              }

              &.hide {
                display: none;
              }
            }

            input {
              border: none;
              color: $dark-gray;
              font-size: rem-calc(70);
              font-weight: 200;
              text-align: right;
              border: 1px solid $dark-gray;
              position: relative;
              height: 80px;
              max-height: 80px;

              @include breakpoint (tablet) {
                max-height: 80px;
                margin-top: 35px;
                padding-right: 110px;
                border: none;
              }
              width: 100%;
              padding: 0;
            }
          }

          .wallboards {
            input {
              margin-bottom: 20px;
            }
          }

          .total-sqft {
            @include xy-cell(12);
            max-width: 100%;

            &:after {
              top: 16px;
            }

            label {
              top: 0px;
              @include breakpoint (tablet) {
                top: 32px;
              }
            }

            input {
              font-size: 3.3rem;;
              max-height: 78px;
            }
          }
        }
      }

      .outputs {
        .fontShrinkOne {
          font-size: 2.375rem !important;
        }
        .right {
          margin-top: 15px;
          @include breakpoint (tablet) {
            margin-top: 0px;
          }
        }
        .left, .right {
          @include xy-cell(12);
          position: relative;
          margin: 0;

          text-align: center;

          @include breakpoint (tablet) {
            @include xy-cell(4);
          }

          p {
            color: $dark-red;
            font-size: rem-calc(70);
            font-weight: 300;
            margin-bottom: 0;
            min-height: 40px;
            height: 40px;
            margin: 0;
            margin-top: 15px;
            position: relative;
            display: block;
            @include breakpoint (tablet) {
              display: inline-block;
            }
            width: auto;
            &.brand {
              font-size: rem-calc(14px);
              font-weight: 300;
              color: $light-gray;
              padding: 0px 60px;
              margin-top: 8px;
              line-height: 14px;
              @include breakpoint (tablet) {
                padding: 0px;
                display: block;
              }
            }

            .money {
              display: block;
              @include breakpoint (medium) {
                display: inline-block;
              }
            }
            &.money:before {
              content: '$';
              display: inline-block;
              position: absolute;
              top: -25px;
              height: 7px;
              font-size: 14px;
              left: 50px;
              @include breakpoint (medium) {
                left: 170px;
              }
              @include breakpoint (tablet) {
                left: -10px;
              }

            }
          }

          span {
            color: $dark-red;
            display: block;
            font-size: rem-calc(14);
            font-weight: 300;
            text-align: center;
            position: absolute;
            right: 45px;
            @include breakpoint (tablet) {
              position: absolute;
              right: 8px;
              bottom: 50px;
            }

          }
        }

        .center {
          text-align: center;
          @include xy-cell(12);
          margin: 20px 0px;

          @include breakpoint (tablet) {
            @include xy-cell(4);
            margin: 0px;
          }

          span {
            display: inline-block;
            font-size: rem-calc(14);
            font-weight: 600;
            color: $dark-gray;
            line-height: 22px;
          }

          svg {
            display: block;
            margin: 0 auto;

          }
        }

        .days, .labor, .materials, .results {
          @include xy-grid();
          background: rgb(248, 248, 248);
          padding: 20px 20px;
          margin-top: 10px;
          position: relative;
          svg {
            margin-bottom: 10px;
          }
          &.gray {
            background-color: rgb(93, 97, 98);
            max-height: 584px;
            @include breakpoint (tablet) {
              max-height: 138px;
            }
          }
          &.red {
            background-color: $dark-red;
            .left, .right {
              padding-top: 30px;
              @include xy-cell(6);
              @include breakpoint (tablet) {
                max-width: 25%;
              }
            }
            .right {
              .money::before {
                left: 40px;

                @include breakpoint(tablet) {
                  left: 16px;
                }
              }
            }
            .left {
              p::after {
                content: 'DAYS';
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 12px;
                font-size: 14px;
              }
            }
            .center {
              @include xy-cell(12);
              @include breakpoint (tablet) {
                @include xy-cell(5)
              }

              p {
                color: #fff;
                font-size: 17px;
                font-weight: 600;
                padding: 0 40px;
                &.title {
                  margin-bottom: 0;
                  span {
                    font-size: 24px;
                    font-weight: 300;
                    border-bottom: 1px solid;
                    margin-bottom: 4px;
                  }
                }
                &.cost {
                  margin-top: 0%;
                  @include breakpoint (tablet) {
                    margin-top: 8%;
                    margin-left: 0;
                    font-size: 30px;
                    line-height: 32px;
                  }
                }
              }
            }
            p {
              color: #fff;

            }
            span {
              color: #fff;
              bottom: 10px !important;
            }
          }
          &.gray {
            background-color: $dark-gray;
            .center {

              p {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                line-height: 23px;
                text-align: center;
                &.title {
                  margin-bottom: 0;
                  span {
                    font-size: 20px;
                    font-weight: 300;
                    border-bottom: 1px solid;
                    margin-bottom: 4px;
                  }
                }
                &.cost {
                  margin-top: 0%;
                  @include breakpoint (tablet) {
                    margin-top: 9%;
                    margin-left: 0;
                    font-size: 25px;
                    line-height: 27px;
                  }
                }
              }
            }
            p {
              color: #fff;

            }
            span {
              color: #fff;
              bottom: 10px !important;
            }
          }
        }

        .results {
          @include xy-grid();
          background-color: $dark-red;
          padding: 40px 10px;
          justify-content: center;
          p {
            @include xy-cell(12);
            font-size: rem-calc(16px);
            font-weight: 600;
            color: #fff;

            @include breakpoint (tablet) {
              @include xy-cell(4);
              margin: 0;
            }
          }

          div {
            @include xy-cell(10);
            display: flex;
            padding: 0;
            margin: 0;
            @include breakpoint (tablet) {
              @include xy-cell(8);
              justify-content: center;
              padding-top: 10px;

            }
            div {
              @include xy-cell(6);
              background-color: $dark-red;

              @include breakpoint (tablet) {
                @include xy-cell(4);
                padding-right: 75px;
              }
              div {
                position: relative;
                p {
                  font-size: 70px;
                  font-weight: 300;
                  margin: 0;
                }
                &.days {
                  p {
                    text-align: left;
                    padding-left: 45px;

                  }
                  span {
                    position: absolute;
                    left: 140px;
                    top: 10px;
                    color: #fff;
                    font-weight: 300;
                    @include breakpoint (tablet) {
                      left: 50px;
                      top: 30px;
                      z-index: 2;
                    }
                  }
                }
                &.days {
                  p {
                    &:after {
                      content: 'DAYS';
                      display: inline-block;
                      position: absolute;
                      right: -80px;
                      top: 15px;
                      height: 7px;
                      color: white;
                      font-size: 13px;
                      widows: 7px;
                      @include breakpoint (tablet) {
                        top: 45px;
                      }
                    }
                  }
                }
                &.price {
                  p {
                    text-align: left;
                    padding-left: 25px;
                  }
                  span {
                    position: absolute;
                    left: 15px;
                    top: -25px;
                    color: #fff;
                    font-weight: 300;
                    @include breakpoint (tablet) {
                      left: -5px;

                    }
                  }
                  &:before {
                    content: '$';
                    display: inline-block;
                    position: absolute;
                    top: -25px;
                    height: 7px;
                    color: white;
                    font-size: 12px;
                    left: 170px;
                    @include breakpoint (tablet) {
                      left: -10px;
                    }
                  }
                }
              }
            }
          }
        }

        .labor {
          background: #eeeeee;

          svg {
            height: 61px;

          }
        }

        .materials {
          background-color: #d7d7d7;
          svg {
            height: 71px;
          }
        }

        .days {
          background: #d7d7d7;

          svg {
            max-height: 68px;;
          }
        }
      }
    }
  }
  .disclaimer {
    left: 0;
    @include breakpoint (medium) {
      margin: 0 auto;
      top: 121px;
      max-width: none;
      position: absolute;
      z-index: 3;
    }

  }
}