footer {
  background: $dark-gray;
  color: $white;
  padding: 45px 20px;
  margin:0;
  text-align: center;

  & > div {
    @include flex-align(justify, middle);
    height: 100%;

    & > div {
      @include xy-cell(auto);
      max-width: 285px;
      margin: 0 auto;
      margin-bottom: 40px;
      justify-content: space-between;
      margin-bottom: 40px;
      display: flex;
      padding: 0 25px;

      @include breakpoint (tablet) {
        text-align: left;
        margin-bottom: 30px;
      }

      @include breakpoint (large) {
  
      }

      img {
        height: rem-calc(45);
        width: rem-calc(45);
      }
    }

    p {
      font-weight: 200;
      font-size: 20px;
      line-height: 25px;
      margin-right: rem-calc(30);
      margin: 0 auto;
      padding: 0 25px;
      margin-bottom: 25px;
      @include breakpoint(tablet) {
        padding: 0 75px;
      }
      @include breakpoint(tablet) {
        padding: 0 190px;
      }
    }

    a {
      font-size: 25px;
      color: inherit;

      &.privacy {
        border-left: 1px solid;
        margin: 0 10px;
        padding-left: 10px; 
      }
    }
    
    a:first-of-type {
      margin-right: 0px;
    }
  }
}