footer {
  background: $dark-gray;
  color: $white;
  padding: 45px 20px;
  margin:0;
  text-align: center;

  & > div {
    @include xy-grid;
    @include xy-grid-container(1200px);
    @include flex-align(justify, middle);
    height: 100%;

    & > div {
      @include xy-cell(auto);
      min-width: 100%;
      margin-bottom: 40px;
      justify-content: space-between;
      margin-bottom: 40px;
      display: flex;
      padding: 0 25px;

      @include breakpoint (tablet) {
        text-align: left;
        padding: 0 235px;
        margin-bottom: 30px;
      }

      @include breakpoint (large) {
        padding: 0 345px;
      }

      img {
        height: rem-calc(45);
        width: rem-calc(45);
      }
    }

    p {
      font-weight: 200;
      font-size: 10px;
      line-height: 14px;
      margin-right: rem-calc(30);
      margin: 0 auto;
      padding: 0 25px;
      margin-bottom: 25px;
      @include breakpoint(tablet) {
        padding: 0 75px;
      }
      @include breakpoint(tablet) {
        padding: 0 190px;
      }
    }
    // p:first-of-type {
    //   margin-bottom: 0px;
    // }
    a {
      font-size: 10px;
      color: inherit;
     

      &.privacy {
        border-left: 1px solid;
        margin: 0 10px;
        padding-left: 10px;
      }
    }
  }
}