.systemComponents {
    @include xy-grid();    
    background: #e8e8e8;
    text-align: center;
    padding-bottom: 60px;
    @include breakpoint (tablet) {
        padding: 0 40px;

    }
    @include breakpoint (large) {
        padding: 0 90px;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    figure {
        @include xy-cell (12);
        max-width: 300px;
        margin: 0 auto 20px;
        @include breakpoint (tablet) {
            max-width: 430px;
        }
        @include breakpoint (large) {
            width: 45%;
            max-width: 530px;
            margin-top: 45px;
        }
        

        img {
            width: 100%;
        }

    }
    .container {
        @include xy-grid ();
        @include breakpoint (large) {
            width: 55%;
        }
        h3 {
            @include xy-cell (12);
            color: #C41230;
            font-size: rem-calc(30px);
            font-weight: 600;
            line-height: 36px;

            @include breakpoint (tablet) {
                margin-bottom: 12px;
            }

            @include breakpoint (large) {
                font-size: rem-calc(36px);
                line-height: 43px;
                margin-bottom: 0px;
            }
        }
        div {
            @include xy-cell (12);
            margin: 18px auto;
            @include breakpoint (tablet) {
                @include xy-cell (6);
            }
            @include breakpoint (large) {
                @include xy-cell (12);
            }
            figure {
                height: rem-calc(37px); 
                width: rem-calc(37px);
                margin: 0 auto 10px;

                img {
                    max-width: 430px;
                    width: 100%;
                    @include breakpoint (large) {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                    }
                }
            }
            
            p {
                font-size: rem-calc(14px);
                line-height: 18px;
                font-weight: 700;
            
                &.brand {
                    color: #5F6062;
                    font-weight: 300;
                    font-size: 14px;
                    @include breakpoint (tablet) {
                        font-size: 16px;
                    }
                    
                }
                &.title {
                    color: $dark-red;
                    @include breakpoint (tablet) {
                        padding: 0 45px;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    
                }
                &.additonal {
                    font-size: rem-calc(12px);
                    line-height: 14px;
                }
            }
        
        }
        a {
            margin: 0 auto;
            margin-top: 20px;
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            line-height: 44px;
            padding: 0px 30px;
            background: #C41230;
            border-radius: 25px;
            color: #fff;
           @include breakpoint (large) {
            line-height: 45px;
            max-height: 45px;
           }
        }
    }
}