h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h1, h3, h4 {
  color: $primary-color;
}

h1 {
  font-size: rem-calc(38);
  line-height: .9;
}

h2 {
  font-size: rem-calc(22);
  color: $secondary-color;
}

h3 {
  font-size: rem-calc(42);
}

p {
  font-size: rem-calc(16);
}
