<!doctype html>
<html>
<head>
    ${require('_partials/meta_data.ejs')}
</head>
<body>
    ${require('_partials/hero.ejs')}
    ${require('_partials/nav.ejs')}
    <main>
        ${require('_partials/client.ejs')}
        ${require('_partials/footer.ejs')}
    </main>
    
</body>
</html>