<!doctype html>
<html>
<head>
    ${require('_partials/meta_data.ejs')}
</head>
<body>
    ${require('_partials/video-overlay.ejs')}
    ${require('_partials/hero.ejs')}
    ${require('_partials/nav.ejs')}
    <main>
        
        ${require('_partials/downloads.ejs')}
        ${require('_partials/systemComponents.ejs')}
        ${require('_partials/calculator.ejs')}
        ${require('_partials/form.ejs')}
        ${require('_partials/footer.ejs')}
    </main>
    
</body>
</html>