<section class="bios">
    <h1>
        WHO WE ARE
    </h1>

    <div>

        <figure class="reid">
            <p>
                REID WEINSTEIN
            </p>
        </figure>
       <div class="bio-p">
            <p>
                    M. Weinstein was born in New Hyde Park, New York and raised in North Brunswick, New Jersey.  He attended the University of Maryland where he was a member of Phi Beta Kappa and the Civicus Living and Learning Program, an academic citation program centered around the concept of fostering a civil society.  Mr. Weinstein graduated cum laude with a B.A. in Government and Politics and a secondary major in Criminology and Criminal Justice.  After college, he attended the University of Maryland School of Law in Baltimore.  During law school, Mr. Weinstein was part of the Moot Court Board, an appellate advocacy group comprised of students with a demonstrated ability in appellate brief writing and oral argument. He also clerked at a highly regarded civil litigation firm in Montgomery County, Maryland.  
           </p>
           <p>
               After law school, Mr. Weinstein served as a law clerk to the Honorable Robert A. Greenberg in the Circuit Court for Montgomery County, Maryland. Following the clerkship experience, he entered private practice at a well respected regional law firm in Washington, D.C. and handled insurance defense matters in the context of automobile tort liability, products liability, premises liability, professional malpractice, landlord/tenant, and workers' compensation cases.  After two years, Mr. Weinstein joined a law firm in Howard County, Maryland where he practiced civil litigation with an emphasis on automobile, assault/battery, defamation, property damage, slip and fall, and subrogation matters.
           </p>
           <p>
               Prior to founding his own firm, Mr. Weinstein served as in-house counsel for an insurance company where he litigated numerous personal injury, personal injury protection, insurance coverage, subrogation, and underinsured/uninsured motorist claims throughout Maryland and the District of Columbia.  Mr. Weinstein has successful jury trial experience and has tried many cases before members of the bench.   
           </p>
           <p>
               Mr. Weinstein is licensed to practice law in Maryland and the District of Columbia. He is also barred in the United States District Court for the District of Maryland.  Mr. Weinstein is a proud member of the Howard County, Montgomery County, Prince George's County, and Maryland State Bar Associations. 
           </p>
       </div>
    </div>

    <div>
            
        <figure class="gomez">
            
        </figure>
       <div>
            <p>
                    Janette is the firm’s bilingual paralegal (English/Spanish). She has over seven years of experience providing case management support in all aspects of personal injury and workers’ compensation cases.  She conducts intake interviews, prepares discovery materials, maintains client contact, and facilitates trial preparation. Her knowledge of the litigation process makes her an invaluable asset both to the firm and our clients who seek personalized and professional legal assistance.  
                    
            </p>
       </div>
    </div>

</section>