<section id="Downloads" class="calculator-section">
    <h3>THE AMOUNT OF TIME YOU CAN SAVE USING THE <br></h3>
    <h3><span>USG DUROCK™ BRAND SHOWER SYSTEM IS PRETTY GROOVY</span></h3>
    <h4>COST &amp; TIME SAVINGS CALCULATOR</h4>
    <p>
     Enter the number of showers to be installed and we’ll show you how much
     money and time you can save by switching to USG Durock™ Brand Infinity Drain®
     Shower System. And then we’ll catch you on the flip side.</p>
    <div id="calculatorTarget"></div>
</section>
