<section id="Calculator" class="calculator-section">
    <h3>ENVIRONMENTAL IMPACT CALCULATOR</h3>
    <p>Enter the total square footage of your project to see how much you'll save with USG Sheetrock® Brand EcoSmart Panels.</p>
    <div id="calculatorTarget"></div>
</section>
