<section class="bios">
        <h1>
            WHO WE ARE
        </h1>
    
        <div>
    
            <figure class="reid">
                <p>
                        ATIF MAZHAR
                        
                </p>
            </figure>
            <p>
                    I was working as a special police officer when I injured my neck, back, and hand.  I was going back and forth to the doctors, the physical therapists, and the chiropractor, and getting multiple injections in my back and neck. I missed a lot of work because I could no longer perform the demanding physical activity that my job required, such as carrying heavy guns for extended periods of time. Eventually, I could not continue with that type of work and had to start from scratch in an entirely different field—cyber security. 
                    Meanwhile, it became hard to do things for myself that I normally wouldn’t even think about. I had to hire someone to help with even the simplest tasks.  On top of that, my insurance company was not taking my injuries very seriously. They were very stingy when it came to covering my medical costs, so I was left with a lot of unpaid bills. 
                I previously worked with two different workers’ compensation lawyers, and the case kept dragging on and on. Then I was referred to Reid. He gave me peace of mind because he was very professional, positive, and believed that I had a strong case.
                    Reid studied my extensive case file, and we discussed the best way to move forward. Because I was not versed in the legal process and all of the technical terms, he walked me through everything I needed to know and eased a lot of my concerns.  The guidance he provided me was extremely helpful, and his ideas put me on the right track. After I started working with Reid, I felt reassured that my medical care expenses would be taken care of.  
                    It was a very lengthy process from start to finish, but I was really pleased when I started working with Reid.  We ultimately came to a satisfying resolution in court. 
                Reid was all-around a great guy to work with. He was professional, hard-working, and very down-to-earth.  It’s really clear that he loves his job and is committed to doing things the right way. He genuinely wants to help people to the best of his ability. I would suggest Reid to anyone, and they would be very happy if they chose him. 
                
            </p>
        </div>
    
        <div>
                
            <figure class="gomez">
                <p>
                        Allysja Duncan                        
                </p>
            </figure>
            <p>
                    I received a call that my grandmother had taken a turn for the worse in hospice, and I was on my way to Pittsburgh to see her one last time. I was sitting in traffic on a freeway in northern Virginia, when my very small Chevy was rear-ended by a large pickup truck hauling a 25-foot trailer. The car was completely totaled, with the rear crunched in all the way. Everyone was kind of stunned that I wasn't more severely injured. We exchanged insurance information after the accident, and I went to Urgent Care because I started having shoulder pain. 
                    I followed up with my primary care physician and went through physical therapy for several months.  Then, I went to see an orthopedic doctor and ended up getting cortisone shots. When those didn't work, I saw a surgeon who discovered a bone spur that was hooking into my joints. I ended up needing surgery.  Unfortunately, I had a negative reaction to the anesthesia and developed neuropraxia, which required a trip to the pain specialist and more physical therapy. I was finally out of recovery in January 2017.
                    Shortly after the accident, I filed a claim with the other driver’s insurance company. They kept calling with random requests. I was already emotional over my grandmother’s deteriorating health, and dealing with insurance was not the most important thing on my mind. I thought to myself, “I don't have time for this right now. I’m trying to say goodbye to my grandmother.” After a friend referred me to Reid, we spoke the next day. I told him about my accident and how I needed someone to take the case off of my plate.
                    From that point on, Reid led me through the entire process step by step. He made sure that I always knew exactly what was happening with the case and helped me keep track of important information like doctor’s appointments, outstanding bills, and documents that needed to be signed. He obtained the police report and handled all of the insurance paperwork and correspondence. I was concerned about paying bills out of pocket, but Reid made sure I was reimbursed for all my medical expenses and rental car costs. My grandma passed the week after the accident, so it put me at ease to know that I didn’t have to worry about the case because Reid was taking care of everything.
                        When we started negotiations with the insurance company, Reid did everything in his power to get the maximum amount of money to compensate for the hardship and cost of such a long recovery, without causing me additional stress. He always had my back. It was such a relief because he made sure that my only concern was to get healthy and be with my family. 
                    He was honest, professional, and trustworthy, and didn't mince words or sugarcoat anything. He was tenacious, and he didn't put up with crap from the insurance company.  He didn’t let them slide on little things. Sometimes when you see ads on TV for attorneys, they seem like they're just out to get your money, but Reid genuinely seemed like he only wanted to help. He would call just to check in or see how a doctor’s appointment went, even in the midst of waiting periods. When I told him that I would finally be cleared in January, he didn’t drag out the process. Right away, he had the necessary conversations with the insurance company and gathered the paperwork and information needed to resolve the case. 
                    
                    It ended up being a very long process from start to finish, and I don't know how I would've managed the aftermath of my accident without Reid’s help. If left to my own devices, the outcome wouldn't have been nearly as satisfying. I felt immensely relieved after we closed the case.  The weight of the past 18 months had been lifted. I could finally clear my memory of the accident and move forward, especially because it was tied to such an emotional time for me. I just wanted to put all those memories to rest in my mind. Reid helped me do that. 
                    
            </p>
        </div>
        <div>
                
            <figure class="reid">
                <p>
                        Corinne Chambers
                        
                        
                </p>
            </figure>
            <p>
                    In 2015, I was T-boned in the middle of an intersection in Ocean City, and the other car pushed me into a utility box and a telephone pole. My car was completely totaled. The ambulance came and took me to the emergency room where I stayed for nine hours. Fortunately, I didn’t suffer any life-threatening injuries, but my left shoulder and leg were both injured.  I suffered a transverse fracture to my spine. I was very bruised, and I could hardly move. I lived in a condo by myself, and my sons and a few really great neighbors had to come over to help me.
                    I had seen a couple of other lawyers, but nobody would help. They all said that my odds for success were too small for them to take my case. After being turned down twice, I figured that was the end of it. Luckily, Reid had just moved into the same office building as my son. When we told Reid about the accident, he took an interest in my case. 
                    Throughout Reid’s representation of me, he was always concerned with how I was feeling and made it a point to make sure I was okay.  At 75 years old, getting into a car accident was never on my bucket list.  I felt so comfortable talking to Reid. He was never intimidating, and it just didn't feel like I was talking to a lawyer in the usual sense.
                    It was clear that Reid was very knowledgeable, organized, and professional. Right away, he took it upon himself to start looking into my case and gather all the necessary materials to start moving forward. He always made sure that I knew exactly what was going on.  He prepared me for what the process would look like, what to expect in each meeting, and what questions I might be asked. If something came up, he would always call me with updates. 
                    I was very fortunate to have good health insurance that paid a lot of my bills, and I was able to get a new car, but I was still left with about $3,000.00 that my insurance wouldn’t cover. I wasn’t looking to win a million dollars, or anything like that. I only wanted the other driver’s insurance company to pay my outstanding bills.
                    The case did not settle, and the case proceeded to a jury trial. Reid could tell how nervous I was during that process, and he was so compassionate and concerned. After opening statements, the testimony of a number of witnesses, and closing arguments, the jury determined that both myself and the other driver contributed to the accident. Before we left the courthouse, I kept telling Reid that I felt bad because of all the work he put into the case. He was more concerned with my well being than any attorneys’ fee.  Reid treated my case with much compassion.  
                    
            </p>
        </div>
        <div>
                
            <figure class="reid">
                <p>
                        Victoria Dunn 
                </p>
            </figure>
            <p>
                    In July 2014, I was walking past a school on my way home, pushing my one-year-old daughter in her carriage, when we were both hit by a school bus in the middle of a cross walk. I got knocked to the ground, and my daughter’s carriage went underneath the bus. I was only down on the ground for about a second because I was immediately worried about my daughter. This probably goes against medical and rescue advice, but when I stood up and saw my daughter under the bus, I unstrapped her and pulled her out of her carriage. We were both crying and screaming, and a large group from the neighborhood gathered around the scene. 
                    It was a miracle that neither my daughter nor I were injured more seriously. My daughter’s carriage was the kind that no one wants to push around – big and clunky with metal around all four sides. But thank goodness for that carriage. Even though it was completely destroyed underneath the bus, my daughter only had a few scrapes.  I just suffered some scratches, bruising, and muscle pain along one side of my body from the impact. It was an extremely scary and traumatic experience!
                    After considering my options, I felt that Reid had the right experience to provide me with the best possible support through the legal process. I didn’t feel like I had to worry under Reid’s guidance. I knew he would manage the process for me and make sure that my interests were taken care of. 
                    My primary concern was making sure that my daughter and I would not suffer any long-term physical or psychological ramifications. Even though she was very young, I didn’t want her to develop any sort of anxiety resulting from the accident. My daughter had a couple treatments to address some body tightness, and I underwent physical therapy to ensure that my bruising and muscle pain wouldn’t develop into a long-term injury. We wanted to recoup the cost of those treatments, especially since we were not at fault. I also wanted to see some accountability from the driver of the school bus. 
                        Our cases were eventually resolved by way of settlement. Not only did Reid have the experience to handle the legal process, but his familiarity with the law allowed him to anticipate the best possible way to present the case. 
                        Over the duration of the six months, I only dedicated about five hours towards the process, sending documents, attending meetings, discussing the case, and approving reports. Reid took care of everything else. He was not only professional, organized, and timely, but he was genuinely concerned about our physical and emotional well-being. He walked me through things that I wouldn’t have considered, like keeping medical receipts, taking pictures, and documenting the aftermath of the accident. In terms of details, Reid was extremely thorough, but he also never failed to regularly check in just to see how we were doing. When I started to consider pursuing a legal case after the accident, I didn’t know how complex it was going to be. Reid was really able to make it really simple. It wasn't just that he took care of everything. He explained exactly what was going to happen in a clear way to make sure I was informed, and then he handled it.
                    
            </p>
        </div>

        <div>
                
            <figure class="reid">
                <p>
                        Kopal Jha 
                        
                </p>
            </figure>
            <p>
                    I was stopped at a red light and another car rear-ended me. I went to Urgent Care and they diagnosed me with a severe concussion. I had trouble with memory and organization. I couldn’t drive, and my balance was affected. I became hyper-sensitive to sound and light to the point where I had to put masking tape over even the smallest LED lights in my room – things like my computer charger and TV power button. I felt constantly assaulted by an environment in which I was normally very comfortable. 
                    It was difficult for me emotionally, and I felt completely helpless. It made me feel very confused and frightened by the uncertainty of my long-term health and my ability to work and look after my family. I fell behind in my career trajectory because I was working way below my regular level for about two years. It was extremely hard on my children and on my relationships with others at the time because I had to be constantly insulated from overstimulation and could not complete basic tasks.
                    After talking to neurologists, I realized that my recovery was going to be a long and expensive process, and I would benefit from legal representation to ensure that all my rights would be protected and my medical expenses taken care of. I was looking for a close-by attorney, and I found Reid through the local list-serve. He was extremely flexible in our meeting place and times and very considerate of the fact that I had a severe concussion and couldn’t drive. He was the perfect balance of friendly and professional, caring and resourceful. Right off the bat, he provided me with a lot of resources and very clearly outlined what the legal process would look like so that I knew exactly what to expect. He put me at ease because I knew that somebody who understood the whole process was representing me and looking after my care.
                        The advantage of hiring Reid compared to another attorney or a massive law firm is that he worked with me from start to finish. Every meeting and correspondence was with him, and he personally answered any questions that I had.  I appreciated that Reid always kept me up to date on the progress of the case and was cognizant of the fact that I was having trouble with memory and organization. He would remind me of important deadlines and doctor’s appointments, and he asked very little of me in terms of responsibility. My only obligation was to send Reid the documents he needed in order to prepare the paperwork for my case. He was always very clear about what exactly he needed: “I need this back by tomorrow, signed in blue ink. This can be electronically signed as soon as possible.” Those kinds of details are extremely helpful for someone like me who was quite busy and operating with an impaired brain. 
                    In addition, Reid’s attention to detail was incredible. He often sent me summaries and documents to review so he could confirm that nothing was overlooked or forgotten. Many people don't have the self-confidence or the professionalism to acknowledge their mistakes, but if something needed to be changed, he would thank me and fix it right away. That kind of integrity made me very, very comfortable working with Reid.
                    My case settled at mediation. Reid got me the best settlement I could've hoped for, and without his help, I would have been at the mercy of whatever the insurance company decided to pay. He was unique in that he never prioritized my case over my physical and mental well-being. 
                    Everybody needs to have someone who knows the system and who can be their advocate, especially in the case of a brain injury where you’re not able to be your usual self. If you’re going to hire a personal injury attorney, you want a confidante, a guide, an ally—someone who is going to be your backbone and your brain throughout that process. You need somebody who's a good human being, who is ethical, and who cares about your well-being over the sum of the settlement. Reid is that attorney. 
                    
            </p>
        </div>
                
    
    </section>