<section id="ProductBenefits" class="downloads">

    <h1>
         Welcome to the Law Office of Reid M. Weinstein, L.L.C.            
    </h1>
    <p class="open-text">
            ​The Law Office of Reid M. Weinstein, L.L.C. offers high quality and cost effective legal representation in Maryland
             and the District of Columbia. The firm has a general civil litigation practice with extensive experience in the 
             following areas: car accident, bicycle accident, pedestrian accident, 
            insurance coverage, premises liability, workers' compensation, and wrongful death matters.
    </p>


    <div class="title">
            <h3>Our 4 Founding Priniciples</h3>
    </div>
    <div>
        <!-- <div class="download-img d-1">
        </div> -->
        <p class="title">A Client-Centered <br> Approach
        </p>
        <p class="title-bold" id="approach">
            No two cases are identical.  Mr. Weinstein does not employ a "one size fits all" approach.  The focal point of each case is the individual client and the specific goals to be achieved.  To that end, Mr. Weinstein strives to provide his clients with an informed understanding of their rights and obligations and explains the practical implications of each.  Clients are also apprised of case developments in a timely fashion in order to facilitate the decision-making process.      
            Mr. Weinstein offers every prospective client a free initial consultation on the telephone, at the Columbia office, or at another convenient location. Satellite office space throughout the region is available so clients do not have to travel great distances to meet with their attorney.  
            Mr. Weinstein prides himself on fostering a personal touch.  Unlike some larger firms where a client's primary contact point is a case manager or paralegal, Mr. Weinstein's clients have regular and direct communication with him throughout all phases of their case.  
            
        </p>
        <a id="openApproach">
            READ MORE
        </a>
    </div>
    
    <div>
        <!-- <div class="download-img d-3">
        </div> -->
        <p class="title">Professionalism</p>
        <p class="title-bold">
            Mr. Weinstein maintains a reputation for professionalism among other members of the bar and members of the judiciary. He has an unwavering commitment to providing high quality legal services in an ethical manner.             
        </p>
    </div>
   
  
    <div>
        <!-- <div class="download-img d-4">
        </div> -->
        <p class="title">High Level <br> of Preparation</p>
        <p class="title-bold" id="zealous">
            Many cases are won or lost on the sheer basis of preparation.  Mr. Weinstein is dedicated to taking the necessary steps to diligently handle your case from the initial investigatory phase through its resolution. This often means working tirelessly to gather facts, interview witnesses, conduct legal research, secure important documents, and ultimately, synthesize all of these elements into the strongest case possible for presentation to a judge, jury, mediator, or other decision maker. 
            
        </p>
        <a id="openZealous">
            READ MORE
        </a>
    </div>
    <div>
        <!-- <div class="download-img d-2">
        </div> -->
        <p class="title">Zealous <br> Representation</p>
        <p class="title-bold">
            Mr. Weinstein is dedicated to handling each case with a strong sense of commitment.  
            He advocates zealously for his clients in the pursuit of obtaining results consistent with their goals by employing both traditional and creative measures under the rules of the adversary system.   
        </p>
    </div>
</section>