<section id="ProductBenefits" class="downloads">
    <div class="title">
            <h3>PRODUCT BENEFITS</h3>
    </div>
    <div>
        <div class="download-img d-1">
        </div>
        <p class="title">EFFICIENT AND<br> COST EFFECTIVE</p>
        <p class="title-bold">
            Requires minimal training to install properly and can be 
            completed in half the time &mdash; providing significant labor and time savings.
        </p>
    </div>
    <div>
        <div class="download-img d-2">
        </div>
        <p class="title">ENHANCED<br> MOLD &amp; MOISTURE CONTROL</p>
        <p class="title-bold">
             Designed for complete water resistance and market-leading
             perm ratings, resulting in long-term durability.
        </p>
    </div>
    <div>
        <div class="download-img d-3">
        </div>
        <p class="title">DESIGN<br> CUSTOMIZATION</p>
        <p class="title-bold">
                Offered in an array of sizes with numerous accessories to customize the system for any project. 
        </p>
    </div>
    <div>
        <div class="download-img d-4">
        </div>
        <p class="title">PRECISE<br> INSTALLATION</p>
        <p class="title-bold">
            Removes installation risk and variables to 
            protect the integrity of the design and ensure a consistent experience.
        </p>
    </div>
   
</section>