<section id="ProductBenefits" class="faq">
        
            <h1>
                    FREQUENTLY ASKED QUESTIONS    
            </h1>
           
            <div>
                <!-- <div class="download-img d-1">
                </div> -->
                <p class="title">I have been involved in a car accident.  What now? 
                        
                </p>
                <p class="title-bold" id="approach">
                        After an accident, it is important to seek an immediate place of safety.  Sometimes, that means remaining in the car until law enforcement arrives.  All too often, subsequent accidents happen after the first has occurred.  If you are standing in the roadway, you are subjecting yourself to perhaps even greater danger.  Once you are in a safe place, it is important to exchange contact information with the other driver and all passengers.  This includes their name, address, and telephone number.  It is also important to identify the other driver’s insurance company and policy number.  As a general rule, the more information the better. Take photographs of the damage to the vehicles.  If there are independent witnesses to the accident, try to obtain their contact information.  Do not always assume that law enforcement will do this for you.  It is, however, a good idea to contact the police to request a police report to document the accident and the particulars mentioned above.  All of this information will streamline the claims process.  
                </p>
                <!-- <a id="openApproach">
                    READ MORE
                </a> -->
            </div>
            
            <div>
                <!-- <div class="download-img d-3">
                </div> -->
                <p class="title">What should I do if the other driver flees the scene? 
                        
                    </p>
                <p class="title-bold">
                        Immediately contact the police, and request that a police report be prepared.  Most insurance companies require this step in order to make an uninsured motorist claim.  Take pictures of the damage to your vehicle.  Attempt to identify independent witnesses.
                    </p>
            </div>
           
          
            <div>
                <!-- <div class="download-img d-4">
                </div> -->
                <p class="title">What is an uninsured motorist claim? 
                    </p>
                <p class="title-bold" id="zealous">
                        An uninsured motorist claim most commonly arises when one driver flees the scene of the accident without providing identifying information.  If you have sustained bodily injuries or property damages, you can look to your own insurance company for recompense.  Uninsured motorist claims are more complex than traditional automobile accident ones, and the assistance of an experienced attorney to guide you through the process is recommended.  
                    </p>
                
            </div>
          
            <div>
                    <!-- <div class="download-img d-4">
                    </div> -->
                    <p class="title">What does “PIP” mean? 
                            
                        </p>
                    <p class="title-bold" id="zealous">
                            “PIP” is a shorthand for Personal Injury Protection.  It is a first-party “no fault” coverage that is offered by your own insurance.  The benefits are paid out regardless of who is at fault for the accident.  The amount of coverage usually starts at $2,500.00 and is relatively inexpensive to purchase.  PIP benefits provide reimbursement for medical expenses and lost wages (usually at a reduced rate).    
                        </p>
                    
                </div>
               
                    <div>
                            <!-- <div class="download-img d-4">
                            </div> -->
                            <p class="title">What are some of the most common reasons that a personal injury claim can be delayed, negatively impacted, or denied? 
                                    
                                    
                                </p>
                            <ul class="title-bold" id="zealous">
                                    <li>Failing to obtain  the other driver’s contact information.</li>  
                                    <li>Assuming that the name on the registration is that of the driver. </li>  
                                    <li>Failing to take photographs of the damage to the cars. </li>  
                                    <li>Failing to contact law enforcement after an accident. </li>  
                                    <li>Giving the other driver’s insurance company a recorded statement.                                         </li>  
                                    <li>Waiting too long to seek medical attention (when claiming personal injury). </li>  
                                    <li>Missing doctor’s appointments.                                        </li>  
                                    <li>Not saving receipts from car repairs, doctor’s visits (co-pays, etc.), or pharmacy prescriptions.                                         </li>  
                                    <li>Improperly completed PIP or Uninsured Motorist claim forms.                                         </li>  
                                    <li>A lengthy history of prior or subsequent motor vehicle accidents or other injuries.                                        </li>  
                                    <li>Giving inaccurate information to your own insurance company.                                         </li>  
                                    <li>Substituting the knowledge of an experienced attorney with internet research and trying to navigate the claims and/or litigation process on your own. </li>  
                                    
                             </ul>
                            
                        </div>
                        <div>
                                <!-- <div class="download-img d-4">
                                </div> -->
                                <p class="title">The other driver’s insurance company wants me to give a recorded statement.  Should I? 
                                    </p>
                                <p class="title-bold" id="zealous">
                                        No.                                    </p>
                                
                            </div>

            <div>
                <!-- <div class="download-img d-4">
                </div> -->
                <p class="title">My car is has been declared a “total loss.”  Will the insurance company compensate me for a new vehicle? 
                        
                        
                    </p>
                <p class="title-bold" id="zealous">
                        Generally not.  When your vehicle is “totaled,” that means the cost to repair the vehicle exceeds the vehicle’s value.  When this happens, the insurance company will only pay up to the actual cash value for your vehicle.  Many times, this is insufficient to cover what you still owe on your auto loan or lease.  If you are considering the purchase or lease of a new car, you want to also buy GAP insurance.  Some lenders actually require this coverage. 
                    </p>
                
            </div>
            <div>
                    <!-- <div class="download-img d-4">
                    </div> -->
                    <p class="title">The other driver’s insurance company offered me an immediate settlement.  Should I accept it? 
                            
                            
                        </p>
                    <p class="title-bold" id="zealous">
                            Generally speaking, immediate offers of settlement from the insurance company in the days following an accident should be scrutinized with a careful eye.  There is usually a benefit to an insurance company to resolve certain matters expeditiously.  Before making any decision, you should consult with an experienced attorney to see whether the proposed settlement is appropriate.  Otherwise, you could be comprising your legal rights and/or the value of your claim.  
                        </p>
                    
                </div>

                <div>
                        <!-- <div class="download-img d-4">
                        </div> -->
                        <p class="title">What is a contingency fee? 
                                
                                
                            </p>
                        <p class="title-bold" id="zealous">
                                Most personal injury cases handled by Mr. Weinstein are taken on a contingency fee of one third the total recovery (plus reimbursement for expenses).  If there is no recovery in the case, the client does not owe any attorneys’ fees or reimbursement of expenses.  
                            </p>
                        
                    </div>

                    <div>
                            <!-- <div class="download-img d-4">
                            </div> -->
                            <p class="title">How long does this entire process take? 
                                    
                                    
                                    
                                </p>
                            <p class="title-bold" id="zealous">
                                    It depends.  The length of the claims process varies depending on the factors mentioned above, the length of the client’s medical treatment, whether the other driver has admitted responsibility, and whether the insurance company elects to extend an offer of settlement.  If the matter is not settled within a reasonable period of time, the next step is to consider litigation which usually takes between six months to a year depending on the jurisdiction where the case is filed. 
                                </p>
                            
                        </div>
                        <div>
                                <!-- <div class="download-img d-4">
                                </div> -->
                                <p class="title">I am an out state resident who was injured in Maryland or the District of Columbia.  Can you still help?                                         
                            
                                    </p>
                                <p class="title-bold" id="zealous">
                                        We handle cases where the accident occurs in Maryland or the District of Columbia or the other driver lives in one of these two jurisdictions.
                                    </p>
                                
                            </div>
        </section>