<footer>
    <div>
        <div>
            <a href="mailto:?subject=Discover the world’s most sustainable wallboard.&body=Looking%20For%20a%20shower%20system%20thats%20cautght%20up%20with%20the%20times?%20Learn%20more%20at" target="_blank" title="Share by Email"><a></a></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//info.usg.com/eco-designprofessional.html" target="_blank" title="Share on Facebook"><img src="../assets/img/icon_social_facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/home?status=The%20industryLooking%20For%20a%20shower%20system%20thats%20cautght%20up%20with%20the%20times?%20Learn%20more%20ato" target="_blank" title="Tweet on Twitter"><img src="../assets/img/icon_social_twitter.png" alt="Twitter"></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//info.usg.com/eco-designprofessional.html&title=Looking%20For%20a%20shower%20system%20thats%20cautght%20up%20with%20the%20times?%20Learn%20more%20at" target="_blank" title="Share on LinkedIn"><img src="../assets/img/icon_social_linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>
                The trademarks USG, DUROCK, IT'S YOUR WORLD. BUILD IT., 
                the USG logo, the design elements and colors, 
       and related marks 
                are trademarks of USG Corporation or its affiliates. 
                Infinity Drain is a trademark of Infinity Drain, Ltd.</p>
        <p>
            &copy; 2018 USG Corporation and/or its affiliates. All&nbsp;rights&nbsp;reserved<a class="privacy" href="https://www.usg.com/content/usgcom/en/about-usg/legal-information/terms-and-conditions.html">Privacy&nbsp;Statement  &amp; Terms&nbsp;of&nbsp;Service</a>
        </p>
        
    </div>
</footer>