<footer>
    <div>
        <div>
            <a href="mailto:rweinstein@reidweinsteinlaw.com" target="_blank" title="Share by Email"><img src="../assets/img/icon_social_email.png" alt="Email"></a>
            <a href="https://www.facebook.com/rmwlaw/" target="_blank" title="Share on Facebook"><img src="../assets/img/icon_social_facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/reidweinstein" target="_blank" title="Tweet on Twitter"><img src="../assets/img/icon_social_twitter.png" alt="Twitter"></a>
            <a href="https://www.linkedin.com/in/reid-weinstein-54483886/" target="_blank" title="Share on LinkedIn"><img src="../assets/img/icon_social_linkedin.png" alt="LinkedIn"></a>
            
        </div>
        

        
    </div>
    <div>
        <p>Address: 9520 Berger Road
            
            Suite 208
            
            Columbia, Maryland 21046
        </p>
        <a href="​tel:240-221-0608" target="_blank">
            ​240-221-0608
        </a>
    </div>
  
</footer>