<section id="Contact" class="form">
    <!-- <div>
        <div class="contact-content">
            <h3>Have questions?</h3>
            <dl>
                <dt>Customer Service</dt>
                <dd><a href="tel:800-950-3839">800.950.3839</a></dd>
                <dt>Technical Support</dt>
                <dd><a href="tel:800-874-4968">800.USG.4YOU (874.4968)</a></dd>
            </dl>
        </div> -->
    </div>    
</section>