<section id="Contact" class="form">
    <div>
        <div class="contact-content">
            <h3>Have questions? contact USG</h3>
            <a class="button" target="_blank" href="https://www.usg.com/content/dam/USG_Marketing_Communications/united_states/product_promotional_materials/finished_assets/usg-tile-and-flooring-contact-usg-map-en-CB795.pdf">
                FIND YOUR REP
            </a>
            <dl>
                <dt>Customer Service</dt>
                <dd><a href="tel:800-950-3839">800.950.3839</a></dd>
                <dt>Technical Support</dt>
                <dd><a href="tel:800-874-4968">800.USG.4YOU (874.4968)</a></dd>
            </dl>
        </div>
        <div class="contact-form">
        <script src="//app-abm.marketo.com/js/forms2/js/forms2.min.js"></script>
            <form id="mktoForm_1805"></form>
            <script>MktoForms2.loadForm("//app-abm.marketo.com", "845-WGC-140", 1805);</script>
        </div>
</section>