<section class="hero">
    <div class="Wallop Wallop--slide">
        <div id="carousel-target">

        </div>
        <div class="Wallop-pagination">
            <button class="Wallop-dot Wallop-dot--current">go to item 1</button>
            <button class="Wallop-dot">go to item 2</button>
        </div>
    </div>
</section>