<section class="navigation">
    <nav id="nav">
        <div>
            <figure class="close-btn" id="close-btn">
                ${require('../assets/img/close-btn.svg')}
            </figure>
        </div>
        <div>
            <figure class="usg-logo">
                ${require('../assets/img/usg_logo.svg')}
            </figure>
        </div>
        <a id="backNav" href="http://info.usg.com/eco.html">Back</a>
        <a href="#ProductBenefits">Product Benefits</a>
        <a href="#Downloads">Panels & Literature</a>
        <a href="#Calculator">Environmental Impact Calculator</a>
        <a href="#Form">Contact A Rep</a>
        <a class="desktop-usg" href="https://www.usg.com/">${require('../assets/img/usg_logo.svg')}</a>
    </nav>
</section>

