<section class="navigation">
        <div class="mobile-nav">
            <div class="logo-wrapper">
                <a href="/">
                    <figure>${require('../assets/img/logo-mobile.svg')}</figure>
                </a>
            </div>
            <div class="hamburger-wrapper">
                <span id="hamburger" class="hamburger">
                    <figure>${require('../assets/img/hamburger.svg')}</figure>
                </span>
                    <figure id="close-x" class="close-x">${require('../assets/img/close-btn.svg')}</figure>
            </div>
        </div>
        <nav id="nav">
            <a id="backNav" class="logo" href="javascriptsoid(0)"><figure class="large">${require('../assets/img/logo-mobile-long.svg')}</figure><figure class="medium">${require('../assets/img/logo-medium.svg')}</figure></a>
            <a href="#ProductBenefits">Product Benefits</a>
            <a href="#Downloads">COST &amp; TIME SAVING CALCULATOR</a>
            <a href="#Contact">CONTACT USG</a>
            <a class="last" target="_blank" href="http://info.usg.com/rs/845-WGC-140/images/093000-usg-durock-shower-system-waterproofing-membrane-arch-spec-en-CB748.pdf">DOWNLOAD A SPEC SHEET</a>
        </nav>
    </section>
     