<section id="ProductBenefits" class="practice">
        
            <h1>
                WHAT WE PRACTICE    
            </h1>
            <p class="open-text">
                    If you have been injured or sustained damages through someone else's negligence, you need an experienced attorney to help protect your legal rights.  This often means knowing how insurance companies and big businesses evaluate claims.  It also means anticipating what defenses are likely to be asserted during the course of litigation.  Mr. Weinstein is experienced on both fronts because he previously served as in-house and outside defense counsel for both local and national insurance companies.  Mr. Weinstein draws on that experience to vigorously protect the legal rights of his clients and help them pursue their claims.    
            </p>
            <div>
                <!-- <div class="download-img d-1">
                </div> -->
                <p class="title">Automobile, Bicycle, Motorcycle &amp; Pedestrian Accidents &amp; Wrongful Death Cases
                        
                </p>
                <p class="title-bold">
                        Mr. Weinstein has extensive experience handling all types of motor vehicle accidents.  His clients include drivers, passengers, motorcyclists, bicyclists, and pedestrians who have been injured in Maryland and the District of Columbia.  Mr. Weinstein has handles wrongful death claims for family members of victims of fatal accidents.    
                </p>
                <p class="title-bold">
                        Motor vehicle accidents usually trigger a chain of related challenges in your life including unforeseen medical expenses, lost time from work, loss of a vehicle, and non-economic damages like pain and suffering.  Mr. Weinstein can help you navigate through the first and third-party insurance claims processes to help you seek compensation for these damages.
                </p>
                <p class="title-bold">
                        First party insurance is where the insurance company pays its own insured (you) or another covered person.  In the context of automobile accidents, this is frequently known as “PIP” (Personal Injury Protection) benefits or “Med-Pay” (depending on the state where you live).  These insurance benefits are paid out regardless of who is at fault for the accident.  In Maryland, the amount of coverage usually starts at $2,500.00 and is relatively inexpensive to purchase.  PIP benefits provide reimbursement for medical expenses and lost wages (usually at a reduced rate).     
                </p>
                <p class="title-bold">
                        In addition to first party insurance, you may also be able to seek compensation from the other driver’s insurance company (i.e. third-party insurance) if you can demonstrate their insured’s negligence.  In other words, there must be some proof of fault.  If you can demonstrate the other driver’s negligence, you may be entitled to monetary compensation for personal injuries, lost wages, property damages, and non-economic damages such as pain and suffering.                           
                </p>
                <p class="title-bold">
                        A word of caution: In Maryland and the District of Columbia, you must be completely free from fault in your own regard, otherwise your claim is barred under a legal theory known as contributory negligence.  These jurisdictions are two of a handful of states which employ this rigid legal framework.                            
                </p>
                <p class="title-bold">
                        The claims and litigation processes for automobile accidents can be traps for the unwary, especially if you are dealing with complex legal issues related to any of the following: multi-jurisdictional considerations (different drivers in different states, different statutes of limitations), state and local tort claims laws, government notice requirements, immunity issues, etc.).  A failure to appreciate and take heed to these legal hurdles can minimize or bar your claim completely.  Therefore the services of a skilled lawyer can help you navigate through these challenges to protect your legal rights and maximize your recovery.                          
                </p>
            </div>
            
            <div>
                <!-- <div class="download-img d-3">
                </div> -->
                <p class="title">Insurance &amp; Insurance Coverage
                    </p>
                <p class="title-bold">
                        ​Mr. Weinstein’s wealth of experience as a former insurance defense attorney makes him uniquely situated to litigate coverage claims on behalf of his clients.  In the context of automobile accidents, these matters usually arise when a client’s own insurance company refuses to pay its insured or other covered person compensation for PIP, Med-Pay, and/or Uninsured/Underinsured Motorist benefits.  The most common reasons for denial by the insurance company in these types of cases are: low speed accidents, gaps in medical treatment, questionable injuries, occupancy issues, and compliance with the terms and conditions of the insurance policy such as notice and cooperation.                            
                </p>
                <p class="title-bold">
                        Personal Injury Protection and Med-Pay claims do not require a showing of fault and are generally paid upon demonstrating that an insured or other covered person was injured in an automobile accident.  In Maryland, the amount of PIP coverage usually starts at $2,500.00 and is relatively inexpensive to purchase.  PIP benefits provide reimbursement for medical expenses and lost wages (usually at a reduced rate).  Most insurance companies require the completion of a one or two page application to start the PIP claims process.  Under Maryland law, the application must be completed within one year from the date of the accident.  Otherwise, the benefits are forfeited.                          
                </p>
                <p class="title-bold">
                        Personal Injury Protection and Med-Pay claims do not require a showing of fault and are generally paid upon demonstrating that an insured or other covered person was injured in an automobile accident.  In Maryland, the amount of PIP coverage usually starts at $2,500.00 and is relatively inexpensive to purchase.  PIP benefits provide reimbursement for medical expenses and lost wages (usually at a reduced rate).  Most insurance companies require the completion of a one or two page application to start the PIP claims process.  Under Maryland law, the application must be completed within one year from the date of the accident.  Otherwise, the benefits are forfeited.                          
                </p>
                <p class="title-bold">
                        By contrast, uninsured and underinsured motorist claims require a showing of negligence by another driver and often arise in cases where there is a phantom “hit and run driver,” a negligent driver who has no insurance, or a negligent driver who does not have a sufficient amount of insurance to pay for damages incurred by the claimant.  These types of claims are generally more complex because they involve the interplay of common law principles of negligence with Maryland statutory law considerations. 
                </p>
                <p class="title-bold">
                        The laws governing PIP benefits in the District of Columbia are vastly different than those in Maryland.  In Maryland, an injured person can apply for PIP benefits and seek recompense from a negligent party’s insurance company.  Conversely, District of Columbia residents (with D.C. policies of automobile insurance) who are involved in accidents that occur in that jurisdiction are generally required to make an election within 60 days of an accident between receiving PIP benefits and filing a claim against a negligent party.  The failure to appreciate this very meaningful distinction in the law (and take the appropriate steps) can result in your tort claim being barred.  Therefore, obtaining the services of a skilled lawyer like Mr. Weinstein to help you navigate through these challenges to protect your legal rights and maximize your recovery is incredibly important.     
                </p>
            </div>
           
          
            <div>
                <!-- <div class="download-img d-4">
                </div> -->
                <p class="title">Slip &amp; Fall and Premises Liability </p>
                <p class="title-bold" >
                        ​Mr. Weinstein has extensive experience handling slip and fall accidents that occur on another’s property as a result of wet or slippery floors, unmaintained hallways or stairwells, weather hazards, poor lighting, etc.  These types of injury claims fall under the broader legal category known as “premises liability.”  Like other tort based claims, there must be a showing of negligence in order for the property or business owner to be held responsible.  The mere fact that an accident occurred is generally insufficient.  The duty (or responsibility) of an owner or possessor of land to people injured on their property depends on the injured person’s status on the property—i.e. invitee, social guest, bare licensee, and trespasser.  
                </p>
                <p class="title-bold" >
                        An invitee is a person who is invited or permitted to be on another’s property for purposes related to the owner’s or occupier’s business.  Think customer at a grocery store.  The duty owed to an invitee is to use reasonable care to see that those portions of the property that the invitee may be expected to use are safe.  This obligation includes a notice requirement.  In other words, the evidence must show not only that a dangerous condition existed but that the owner or business knew or should have known (constructive knowledge) of it and had sufficient time to remove the danger or warn the invitee of it.  Proof of an owner’s prior knowledge of a dangerous condition is usually the most difficult aspect of these types of cases.  A social guest (or licensee by invitation) is a person who is on the property of another at the express or implied invitation of the owner or occupier for reasons unrelated to the owner’s business or invitee’s business.  The duty owed to a social guest is to exercise reasonable care to make the premises safe or to warn the guest of known dangerous conditions that cannot be reasonably discovered by the guest.  A bare licensee is a person who is on the property with the consent but not at the invitation of the owner or occupier, and who is there to serve his or her own interests but not to serve any interest of the owner or occupier.  A trespasser is a person who is on the property of another without the consent of the owner or occupier of the property.  The only duty owed to a bare licensee or trespasser is to refrain from willful injury or entrapment.  In other words, the property is taken “as is.”      
                </p>
                <p class="title-bold" >
                        In addition to proving negligence on the part of the landowner or business, a claimant must usually fend off allegations of contributory negligence or assumption of the risk.  In Maryland, a claimant or Plaintiff cannot recover damages if their own negligence was a cause of the injury.  Similarly, injury claims are barred when a claimant knows and understands (or should have) the risk of an existing danger and voluntarily chooses to encounter that danger nonetheless (I saw the spilled milk on aisle six but I chose to walk through anyways!).  This latter principle is called assumption of the risk.    
                        
                </p>
                <p class="title-bold" >
                        Premises liability cases are challenging and involve the interplay of numerous legal principles.  Occasionally, a person’s status (licensee, social guest, etc.) can change during the course of time they are on another’s property.  Furthermore, the law in Maryland governing slip and fall cases is defense oriented. These variables necessitate the retention an attorney with experience in these types of cases.  Mr. Weinstein has that experience and can help protect your legal rights and maximize the recovery in your case.    
                </p>
                
            </div>
            <div>
                <!-- <div class="download-img d-2">
                </div> -->
                <p class="title">Workers' Compensation
                    </p>
                <p class="title-bold">
                        If you have been injured while on the job, you may be entitled to workers' compensation benefits. Depending on your case, this can include wage reimbursement, medical treatment, and/or vocational rehabilitation benefits—paid for by your employer’s insurance company.  Unlike automobile accident claims, there is no showing of negligence required.  However, claimants must demonstrate that their injuries arose out of and in the course and scope of the employment.  In exchange for this “no-fault” legal framework, the employer is given certain protections—most notably, immunity from a civil lawsuit.  In Maryland, a claim filed with the Maryland Workers’ Compensation Commission is the sole remedy against the employer.  This does not, however, impact an employee’s ability to assert a tort claim against a responsible third-party (think car accident while on the job).  
                        
                </p> 
                <p class="title-bold">
                        Work injuries can be fraught with a myriad of challenges both personal and legal for an injured worker.  Your right to earn a living may be impacted.  The insurance company may have denied much needed medical treatment.  Workers’ compensation claims also pose legal challenges.  The claims process can be overwhelming.  There are statutes of limitations.  In Maryland, for example, a claim for compensation in accidental injury cases must be filed within two years.  After that, the claim is completely barred.  Similarly, an application for death benefits resulting from an accidental injury must be filed with the Commission within 18 months from the date of death.  There are jurisdictional considerations.  Many employees are hired in one state but are injured in another.  We see this frequently in the Washington, D.C. metropolitan region.  The failure to file your claim in the correct jurisdiction can prejudice your claim or bar it completely.  Furthermore, the insurance companies typically retain mid to large size law firms with a wealth of resources to protect the employer.  For these reasons (and many others), the injured worker needs competent legal representation to protect his or her interests.  Mr. Weinstein handles workers' compensation claims in Maryland and is happy to provide you with more information about your specific situation.  
                        
                </p>
            </div>
        </section>