<section id="ProductBenefits" class="practice">
        
            <h1>
                AREAS OF PRACTICE        
            </h1>
            <p class="open-text">
                    If you or someone you know has been injured or sustained damages through someone else's negligence,
                     you need an experienced attorney to help protect your legal rights.  This often means knowing how
                      insurance companies and big businesses evaluate claims.  It also means anticipating what defenses
                       are likely to be asserted during the course of litigation.  Mr. Weinstein is experienced on both
                        fronts because he previously served as in-house and outside defense counsel for
                     both local and national insurance companies.  Mr. Weinstein draws on that experience to vigorously 
                     protect the legal rights of his clients and help them pursue their claims.   
            </p>
            <div>
                <!-- <div class="download-img d-1">
                </div> -->
                <p class="title">Automobile, Bicycle, Motorcycle &amp; Pedestrian Accidents &amp; Wrongful Death Cases
                        
                </p>
                <p class="title-bold" id="approach">
                        Mr. Weinstein has extensive experience handling all types of automobile accidents, including those particularly unfortunate instances where your injuries or damages were caused by a drunk or 
                        uninsured driver.  If you or someone you know has been injured in a car accident, you may be entitled to monetary compensation for personal injuries, lost wages, property damage, and non-economic damages such as pain and suffering.  Mr. Weinstein can also represent you in the process of seeking Personal Injury Protection ("PIP") or other no-fault insurance benefits from your own insurance company. Mr. Weinstein also handles bicycle, motorcycle, pedestrian, and wrongful death claims. 
                        
                </p>
                <!-- <a id="openApproach">
                    READ MORE
                </a> -->
            </div>
            
            <div>
                <!-- <div class="download-img d-3">
                </div> -->
                <p class="title">Insurance &amp; Insurance Coverage
                    </p>
                <p class="title-bold">
                        Mr. Weinstein has extensive experience handling Personal Injury Protection "PIP," property damage, subrogation, and underinsured/uninsured motorist claims for individual and insurance clients.  He also welcomes the opportunity to provide coverage opinions on a variety of legal issues.
                    </p>
            </div>
           
          
            <div>
                <!-- <div class="download-img d-4">
                </div> -->
                <p class="title">Slip &amp; Fall and Premises Liability </p>
                <p class="title-bold" id="zealous">
                        ​Slip and fall accidents may be caused by the negligence of property owners who fail to take reasonable steps to protect those who are lawfully entitled to be on the property.  Slip and fall accidents can cause serious and permanent injuries. They can result from wet or slippery floors, unmaintained hallways or stairwells, weather hazards, poor lighting, etc.                     
                </p>
                
            </div>
            <div>
                <!-- <div class="download-img d-2">
                </div> -->
                <p class="title">Workers' Compensation
                    </p>
                <p class="title-bold">
                        ​If you or someone you know is injured while on the job, you may be entitled to workers' compensation benefits.  Depending on your case, this may include wage reimbursement, medical, and/or vocational rehabilitation benefits.  Mr. Weinstein handles workers' compensation claims in Maryland and the District of Columbia and will zealously fight for your rights.  
                    </p>
            </div>
        </section>