<section class="systemComponents">
    <figure>
        <img src="assets/img/shower.png">
    </figure>
    <div class="container">
        <h3>
            SYSTEM COMPONENTS
        </h3>
        <div>
            <figure>
                    <img src="assets/img/red-one.png">
            </figure>
            <p class="brand">
                USG DUROCK™ BRAND
            </p>
            <p class="title">
                ULTRALIGHT FOAM TILE&nbsp;BACKERBOARD (WALL)
            </p>

        </div>
        <div>
            <figure>
                    <img src="assets/img/red-two.png">
            </figure>
            <p class="brand">
                USG DUROCK™ BRAND 
            </p>
            <p class="title">
                WATERPROOFING MEMBRANE AND ACCESSORIES
            </p>
            
        </div>
        <div>
            <figure>
                    <img src="assets/img/red-three.png">
            </figure>
            <p class="brand">
                USG DUROCK™ BRAND 
            </p>
            <p class="title">
                INFINITY DRAIN® LINEAR DRAIN KIT
            </p>
            <p class="additonal">
                POINT DRAIN ALSO AVAILABLE
            </p>
        </div>
        <div>
            <figure>
                    <img src="assets/img/red-four.png">
            </figure>
            <p class="brand">
                USG DUROCK™ BRAND
            </p>
            <p class="title">
                INFINITY DRAIN® SHOWER FLOOR
            </p>        
        
        </div>
        <a>
            EXPLORE THE ADVANTAGES
        </a>
    </div>    

</section>